
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    bottom: 0;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    li {
        list-style: none;
    }
}
button {
    cursor: pointer;
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}
.main {
    display: flex;
}
.main-container {
    padding-top: 160px;
    padding-left: 38px;
    padding-right: 56px;
    @media screen and (max-width: 1599px) {
        padding-top: 110px;
        padding-left: 30px;
        padding-right: 30px;
    }
    @media screen and (max-width: 767px) {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.cb-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.cb-sub-title {
    margin: 0;
    font-size: 21px;
    color: $primaryText;
    @media screen and (max-width: 991px) {
        font-size: 17px;
    }
}
.cb-btn {
    display: inline-flex;
    height: 56px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    border-color: #a5a6bb;
    color: $primaryText;
    cursor: pointer;
    @media screen and (max-width: 1900px) {
        height: 46px;
        padding-left: 22px;
        padding-right: 22px;
        font-size: 16px;
    }
    @media screen and (max-width: 991px) {
        height: 38px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 14px;
    }
    @media screen and (max-width: 767px) {
        height: 30px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 12px;
        border-radius: 4px;
    }
    &.bg-blue {
        border-color: $lightBlue;
        background-color: $lightBlue;
        color: #fff;
    }
}
.text-blue {
    color: $lightBlue !important;
}
.text-red {
    color: #d00837 !important;
}

.bg-pink {
    background-color: #f23a5d !important;
}
.bg-green {
    background-color: #44a707 !important;
}
.bg-orange {
    background-color: #f76c40 !important;
}
.bg-blue {
    background-color: $lightBlue;
}
.bg-gray {
    background-color: $gray;
}
.bg-yellow {
    background-color: #dec820 !important;
}
.bg-blue-gradient-v {
    background: linear-gradient(to bottom, #03d6fb 0%,#2387d1 100%);
}
.bg-blue-gradient-h {
    background: linear-gradient(to right, #03d6fb 0%,#0893d1 74%,#0893d1 100%);
}
.bg-mix-gradient {
    background: linear-gradient(to right, #5ada0a 0%,#bfda00 14%,#ffd001 33%,#ff832f 55%,#f95b4a 78%,#f2385f 100%);
}
.paper-box {
    background-color: #f2f6fc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    &_head {
        padding-top: 14px;
        padding-bottom: 14px;
        border-bottom: 1px solid;
        display: flex;
        align-items: center;
    }
}
.cb-filter {
    width: auto;
    position: relative;
    &_btn {
        display: inline-flex;
        height: 56px;
        border: 1px solid;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px;
        font-weight: 600;
        border-color: #a5a6bb;
        color: $primaryText;
        cursor: pointer;
        @media screen and (max-width: 1900px) {
            height: 46px;
            padding-left: 22px;
            padding-right: 22px;
            font-size: 16px;
        }
        @media screen and (max-width: 991px) {
            height: 38px;
            padding-left: 12px;
            padding-right: 12px;
            font-size: 14px;
        }
        @media screen and (max-width: 767px) {
            height: 30px;
            padding-left: 12px;
            padding-right: 12px;
            font-size: 12px;
            border-radius: 4px;
        }
        &.bg-blue {
            border-color: $lightBlue;
            color: #fff;
        }
        &.no-border {
            border-color: transparent;
        }
        .arrow-icon {
            margin-left: 12px;
            width: 15px;
            height: 15px;
            background-image: url("../assets/images/down_arrow.png");
            background-repeat: no-repeat;
            background-size: 15px;
            background-position: center;
            &.white {
                background-image: url("../assets/images/white-arrow-icon.png");
            }
            @media screen and (max-width: 991px) {
                width: 12px;
            }
            img {
                width: 100%;
            }
        }
    }
    &_list {
        padding-left: 0;
        margin: 0;
        padding: 10px 0;
        background-color: #e4ebf7;
        border-radius: 8px;
        position: absolute;
        width: 100%;
        top: 101%;
        z-index: 999;
        display: none;
        left: 0;
    }
    &_item {
        font-size: 18px;
        padding: 8px 10px;
        list-style: none;
        color: '#5c5e67';
    }
}

.mobile-menu-btn {
    width: 32px;
    position: fixed;
    display: none;
    top: 10px;
    background-color: #0892d0;
    padding: 8px;
    .bar {
        height: 2px;
        width: 100%;
        background-color: $gray;
        margin-bottom: 5px;
        display: block;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (max-width: 767px) {
        display: block;
    }
}
